.smallText {
	font-size: xx-small;
}

.largeText {
	font-size: xx-large;
}

.Selecteddayclass {
	background-color: #0087FF;
}

.libero {
	background-color: green;
}

.occupato {
	background-color: red;
}